.team-container {
  flex: 1 0 auto;
  max-width: 1200px;
  margin: auto;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-heading {
  font-size: 3rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.team-paragraph {
  font-size: 1.5rem;
}
