footer {
  min-height: 64px;
  width: 100%;
  background: #c9082a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alegreya", serif;
  font-size: 20px;
  flex-shrink: 0;
}

footer a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 769px) {
  footer {
    background: linear-gradient(to left, #17408b, #c9082a);
  }
}
