.games-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.show-games-btn {
  background-color: #3e92cc;
}

.clear-games-btn {
  background-color: #c9082a;
  display: block;
  margin-top: 1rem;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  text-align: center;
  background: #c9082a;
  color: #fff;
  border: 1px solid black;
  margin: 1rem 0;
}

.date-and-time {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 5px;
  line-height: 1.4;
}

.team-vs-team-paragraph {
  font-size: 1.2rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

@media only screen and (min-width: 769px) {
  .buttons-container {
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
  }

  .clear-games-btn {
    margin-top: 0;
  }

  .date-and-time {
    flex-direction: row;
    justify-content: space-between;
  }

  .date-heading {
    margin-left: 1rem;
  }

  .time-heading {
    margin-right: 1rem;
  }

  .team-vs-team-paragraph {
    display: block;
    font-size: 1.4rem;
  }
}
