/* 
=== COLOR PALETTE ===
  blue: #17408b;
  light-blue: #3e92cc;
  white: #fff;
  red: #c9082a;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #17408b;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hide {
  display: none;
}

h1,
h2 {
  color: #fff;
}
