* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #1488cc;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hide {
  display: none;
}
