* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(to bottom, #1488cc, #2b32b2);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
